pip>=24.0
setuptools==68.2.2
wheel


# Core dependencies
pandas
numpy
matplotlib==3.7.2
seaborn==0.12.2
streamlit>=1.28.0,<2.0
plotly==5.15.0
wordcloud>=1.9.2,<2.0
scikit-learn==1.3.0
scipy>=1.13.0

# NLP libraries
nltk==3.8.1
spacy==3.6.1
vaderSentiment==3.3.2
transformers==4.31.0
sentence-transformers==2.2.2
huggingface_hub==0.20.3
langchain>=0.1.0,<0.2.0
langchain-openai==0.0.2

# SEC data retrieval
sec-edgar-downloader==4.3.0
beautifulsoup4==4.12.2
requests==2.31.0

# AI integration
openai>=1.6.1,<2.0.0
torch==2.2.0
torchvision==0.17.0


# Database
SQLAlchemy==2.0.19

# Visualization
pyvis==0.3.2
networkx==3.1
uuid

# PDF generation
fpdf2==2.7.8
